.marquee-div
{
    margin-top: 70px;
}
.marquee{
   
    margin-top: 150px ;
    font-size: 30px;
    position: sticky;
}

.sliding-img-section
{
   
    margin-top: 15px  ;
    display: flex;
    justify-content: center;

}
#slidaryimg{
    border: none;
    border-radius:30px ;
}
.sliding-image-container
{ 
    display: flex;
    margin: 20px 480px 10px 480px ;
    justify-content: space-around;
    align-items: center;
}
.slidary-container-images
{
    border-radius: 10px;

}

/*blog section */
.blog-info-shower
{
    width: 92%; 
    margin: 40px 2px 40px 15px;
    border: 1px solid black;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray; 
    height: 450px;
    
}
.hide-blog
{
    display: none;
} 

.blog2-info-shower
{
    width: 92%; 
    height: 450px;
    margin: 40px 2px 40px 15px;
    border: 1px solid black;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray; 
    
}
.btn
{
    font-size: 20px;
    padding: 7px 15px ;
    border: none;
    border-radius: 10px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    
    
}
.btn:hover
{
    
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    transition: 1s;
    box-shadow: 5px 10px 20px gray;
    
} 
.hide-back-btn{
    display: none;
}
.back-btn{

    font-size: 20px;
    padding: 7px 15px ;
    border: none;
    border-radius: 10px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

}
.back-btn:hover{
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    transition: 1s;
    box-shadow: 5px 10px 20px gray;
}
.hide-btn
{
    display: none;
}
.blog1
{
    width: 65%;
    margin: 40px 2px 40px 15px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;

}
.blog1-info
{

}

.blog2
{
    width: 70%;
    
    margin: 2px 2px 2px 390px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}
.blog-info
{
    font-size: 25px;
    text-align: justify;
    

}
.blog2-info-span
{
    display: none;

}