.main-container
{
  width: 70%;
 display: flex;
 justify-content: center;
 margin: 150px auto;
 height: 500px;
 border: 2px solid tomato;
  border-radius: 20px;
}
.form-container
{
 
  margin-inline-start: -64px;
  margin-right: -20px;
  width: 50%;
  height: 300px;
  
}
.vertical-direction-div
{
  
  display: flex;
  width: 90%;
  height: 100px;
  flex-direction: column;
  margin: 80px 2px;
  padding: 15px;
}
.horizontal-direction-div
{
  display: flex;
  margin: 20px auto;
}
.horizontal-direction-div, input
{
  border-radius: 10px;
  width: 90%;
  height: 40px;
  text-align: center;
  padding: 5px ;
  font-size: 20px;
}
label
{
  font-size: 25px;
}
.fbtn{
  border: none;
  border-radius: 15px;
  background-color: aquamarine;
  font-size: 20px;
  padding: 2px 10px;
  color: white;
}
.lbtn{
  margin: 5px 160px;
  padding: 2px 45px;
  padding-bottom: 5px;
}
.login-anchor
{
  color: white;
}
.img-container
{
  margin-inline-end: -436px;
  
}
.log-img{
  height: 498px;
  width: 60%;
  border-radius: 0px 20px 20px 0px;
}



@media screen and (max-width: 768px) 
{
  .img-container
  {
    display: none;
    
  }
  .main-container
  {
    width: 90%;
    height: 480px;
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

  }
  #fbtn
  {
    height: 35px;
    padding: 5px 20px;
    margin-left: 10px;
  }
  .btn-container
  {
    display: flex;
    justify-content: space-evenly;
  }
  .form-container
  {
    width: 50%;
    padding: 10px 0px;
    margin-inline-start: -94px;
  margin-right: 0px;
  
  }
  input
  {
    width: 150%;
  }
  
.lbtn{
  margin: 15px 50px;
  padding: 5px 45px;
 
}
.vertical-direction-div
{
  
  
  width: 90%;
  height: 100px;
  flex-direction: column;
  margin: 20px 2px;
  margin-bottom: 80px;
  padding: 15px;
}
.horizontal-direction-div
{
  margin-inline-start: -40px;
}
.horizontal-direction-div, input
{
  border-radius: 10px;
  width: 250%;
  height: 40px;
  text-align: center;
  padding: 5px ;
  font-size: 20px;
}
}