* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header
{
    width: 100%;
    height: 60px;
}
.heading1
{
    text-align: center;
    margin-top: 60px ;
    height: 60px;
    padding-top: 10px;
    background-color: gray;
}
.heading2
{
    text-align: center;
    margin-top: 10px ;
    height: 60px;
    padding-top: 10px;
    background-color: gray;
}

.card-container
{
    display: flex;
    flex-wrap: wrap;
   
 
}
.heading1 span
{
    margin-left: 650px;
}
.show-cart
{
    
padding: 5px 15px;
font-size: 15px;
background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);


border: 0.5px solid gray;
border-radius: 10px;
    margin-left:620px ;
}
.show-cart:hover
{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
}
.card
{
background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
border-radius: 10px;
box-shadow: 0 7px 8px rgba(0, 0, 0, 0.9);
margin: 25px auto;
padding: 10px;
width: 22%;
height: 450px;
text-align: center;

}
.book-card
{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
border-radius: 10px;
box-shadow: 0 7px 8px rgba(0, 0, 0, 0.9);
margin: 25px auto;
padding: 10px;
width: 25%;
height: 500px;
text-align: center;
}
.card-info
{
    text-align: justify;
    padding: 5px;
    font-size: 18px;
}
.img-div
{
    margin-top:-100px;
    margin-left: 20px;
}
.img-container
{
    display: flex;
}
.card-image
{
    height: 150px;
    width: 150px;
    margin-top: 5px;
    margin-left: 85px;
    margin-right: 10px;
    border-radius: 10px;
}

.cosmetic-card-image
{
    border-radius: 10px;
    height: 150px;
    width: 150px;
    justify-content: center;
}
.card-like-image
{
   
    height: 30px;
    width: 30px;
    margin-top: 100px;
    color: red;
}
.change-color
{
    background-color: red;
}
.card-heading
{
    margin: 20px auto;
}
.book-btn
{
    margin: 20px 10px;
    padding: 5px 15px;
    font-size: 15px;
    border: 0.5px solid gray;
    border-radius: 10px;
    background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}
.book-btn:hover
{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.cart-btn
{
margin-left: 20px;
padding: 5px 15px;
font-size: 15px;
background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);


border: 0.5px solid gray;
border-radius: 10px;
}
.cart-btn:hover
{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.price
{
 margin-top: 5px; 
   
}

.disp-none
{
    display: none;
}
.book-card-image
{
    height: 200px;
    width: 250px;
    justify-content: center;
    
    border-radius: 10px;
}
@media (max-width: 767.98px) 
{
   
.heading1 span
{
    margin-left: 140px;
}
.show-cart
{
    margin-left:40px ;
}
    .card-container
    {
        display: flex;
        flex-direction: column;
    }
    .card
    {
        width: 90%;
    }
    .book-card
    {
        width: 85%;
    }
}