* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header
{
    width: 100%;
    height: 60px;
}
.first-heading
{
    text-align: center;
    margin-top: 80px;
}
.second-heading
{
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
    color: #808080;
    
}
.clock-container
{
    border-radius: 15px;
    background-color: tomato;
    width: 20%;
    height: 150px;
    margin: 10px auto;
    padding: 20px 20px;
    font-size: 20px;
}
#openclose
{
    margin: 15px auto;
}
.text-center
{
    text-align: center;

}
.card-container {
    display: flex;
   margin-top: 50px;
    
  
}

.card {
   
background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
border-radius: 10px;
box-shadow: 0 7px 8px rgba(0, 0, 0, 0.9);
margin: 25px 10px;
padding: 20px 30px;
width: 25%;
text-align: center;
}

.card-icon {
    height: 64px;
    margin-bottom: 1rem;
    width: 64px;
}

.card-title {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
    font-weight: 500;
}



.offer-container
{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    width: 95%;
    height: 400px;
    margin: 10px auto;
    align-items: center;
    border-radius: 5px;

}
.offer-heading
{
    margin: 5px 80px;
}
.offer-sub-heading
{
    margin: 5px 115px;
}
.arrow-image
{
    height: 150px;
    width: 100px;
}
.offer-info-container
{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}
.offer-counter
{
    display: flex;
   
   
}
.day
{
    margin: 10px;
}
.hour
{
    margin: 10px;
}
.min
{
    margin: 10px;
}
.sec
{
    margin: 10px;
}
.info-img
{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
.offer-info{
    width: 30%;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;

}



@media (max-width: 767.98px) {
    .card-container {
        flex-direction: column;
        width: 90%;
    }
    .card
    {
        width: 98%;
        margin: 20px 20px;
    }
    .clock-container
    {
        width: 70%;
    }
    
  
    .offer-info-container
    {
        width: 98%;
        flex-direction: column;
        margin: 10px auto;
       
    }
    .offer-heading
    {
        font-size: 30px;
        margin: 5px 35px;
    }
    .offer-sub-heading
    {
        margin: 5px 65px;
    }
    .arrow-image
    {
        height: 50px;
        width: 50px;
    }
    .offer-container
    {
        width: 90%;
       
        
    }
    .info-img
    {
        height: 150px;
        width: 150px;
    }
    .offer-info{
        display: none;
    }
    .day
    {
        margin: 5px 2px;
    }
    .hour
    {
        margin: 5px 2px;
    }
    .min
    {
        margin: 5px 2px;
    }
    .sec
    {
        margin: 5px 2px;
    }
}
