
a {
  text-decoration: none;
  color: black;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 98.8%;
  padding: 10px 10px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}
.header::before {
  content: "";
  position: absolute;
 margin-inline-start: -10px;
  width: 100%;
  height: 100%;
  background-color: #3EECAC;
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
  backdrop-filter: blur(50px);
  z-index: -1;
}
.header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: -20px;
}
.navbar a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 520;
  margin-left: 10px;
  margin-inline-end: 20px;
}
#check {
  display: none;
}
.menu-bar {
  font-size: 50px;
  color: #fff;
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) 
{
   
    .header{
        width: 98%;
       
    }
  }
@media screen and (max-width: 1325px) {
  .menu-bar {
    display: inline-flex;
   
  }
  #check:checked ~ .menu-bar #menu-icon {
    display: none;
  }
  .menu-bar #close-icon {
    display: none;
  }
  #check:checked ~ .menu-bar #close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: 0.5s ease;
  }
  #check:checked ~ .navbar {
    height: 250px;
  }
  .navbar a {
    display: block;
    font-size: 28px;
    margin: 15px 0;
    text-align: center;
    color: black;
  }
}


/** Footer section */
footer {
  background-color: #3EECAC;
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
  padding-top: 50px;
  color: #fff;
  margin-top: 40px;
  margin-inline-start: -7px;
  width:101% ;
  font-family: Arial, Helvetica, sans-serif;
  height: fit-content;
}
.footer-container {
  padding-inline-start: -50px;
  margin-inline-start: -50px;
  display: flex;
  justify-content: space-around;
}

.footer-content h3 {
  font-size: 28px;
  margin-bottom: 15px;
  border-bottom: 1px solid #f18930;
  text-align: center;
}
.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px;
}
.footer-content ul {
  text-align: center;
}
.footer-content .list {
  padding: 0;
}
.footer-content .list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  
}

.footer-social-icons {
  text-align: center;
  padding: 0;
}
.footer-social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.footer-social-icons i {
  color: white;
  font-size: 35px;

}
.footer-content a {
  text-decoration: none;
  color: #fff;
}
.footer-content a:hover {
  color: #f18930;
}
.footer-social-icons i:hover {
  color: #f18930;
}
.footer-bottom {
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
}
.footer-bottom p {
  color: #fff;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
.footer-bottom .bxs-heart {
    color: red;
    font-size: 20px;
}
@media  (max-width: 540px) {
    footer{
      height: fit-content;
      width: 110%;
      margin-left: -30px;
      
    }
    .footer-container {
        display: grid;
        margin: auto;
    }
    .footer-content h3 {
        font-size: 30px;
        margin-top: 30px;
    }
}